:root {
  --lightest-green: #f2fae5;
  --background-green: #e2ebd5;
  --border-light-green: #cce2ba;
  --text-green: #839a6f;
  --text-green-hover: #6f845d;
  --cream-background: #f8f4f0;
  --gray-text: #2e2e2e;
  --light-gray-text: #9f9f9f;
  --lightest-gray-text: #cccccc;
}
