.garden-search-text {
  display: flex;
  font-family: 'inter';
  font-weight: 700;
  color: var(--gray-text);
  font-size: 1.1rem;
  align-self: center;
}

.inputs-right-side button {
  cursor: pointer;
}
